<div class="container mt-5 mb-5" style="text-align: center;">
  <div class="row">

    <div class="col-md-12 mb-3 about">
      <h1>PLANTとは？</h1>
    </div>

    <div class="col-md-12 mb-3">
      <h4>
        Plantは全国発送可能な家庭菜園のサイトです。</br>
        家庭菜園を初めてみたという方に向けて、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </h4>
    </div>

    <div id="box">
      <div id="images">
        <div class="about1"></div>
        <div class="about2"></div>
        <div class="about3"></div>
        <div class="about4"></div>
      </div>
    </div>

  </div>
</div>